<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head th:replace="~{fragments/layout :: head('Login')}"></head>
<body>
    <div th:replace="~{fragments/layout :: navbar}"></div>

    <div class="container">
        <main class="panel">
            <h1>Login</h1>
            <div class="alert error" th:if="${param.error}">
                <p>Ungültiger Benutzername oder Passwort.</p>
            </div>
            <div class="alert info" th:if="${param.logout}">
                <p>Sie wurden erfolgreich ausgeloggt.</p>
            </div>
            <form th:action="@{/login}" method="post">
                <div>
                    <label for="username">Benutzername:</label>
                    <input type="text" id="username" name="username" required autofocus="autofocus" />
                </div>
                <div>
                    <label for="password">Passwort:</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="mt-12">
                    <button class="btn primary" type="submit">Einloggen</button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>
